/*FONT IMPORT*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;700&display=swap');

/*ESTILIZAÇÃO GERAL*/
*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
/*CORPO*/
body{
    height: 100vh;
    width: 100vw;
}

/*CABEÇALHO*/
.header{
    height: 15vh;
    width: 100vw;
    background-color: rgb(0, 89, 255);
    border-bottom: 1px solid rgb(0, 119, 255);
    display: flex;
    align-items: flex-end;
}
.header h1{
    color: #fff;
    font-size: 55px;
    padding: 1px 15px;
}

/*DISPLAY TASKS*/
.display-tasks{
    height: 85vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tasks-list{
    height: auto;
    width: 90vw;
    background-color: antiquewhite;
    border: 1px rgb(248, 230, 208) solid;
    border-radius: 5px;
    margin: 10px;
}
.task{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.task-form{
    display: flex;
    flex-direction: column;
}
.task .h3{
    width: 90vw;
    font-size: 23px;
    padding: 5px 0 0 5px;
    background-color: antiquewhite;
}
:focus{
    outline: none;
}
.task .p{
    color: rgb(71, 71, 71);
    width: 90vw;
    font-style: italic;
    background-color: antiquewhite;
    padding: 1px 0 5px 15px;
    overflow-y: hidden;
    resize: none;
}
.tasks-list .remove-btn{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 15px;
}
.tasks-list .remove-btn img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.task .date{
    background-color: antiquewhite;
    width: 145px;
    padding-left: 5px;
}

/*BUTTON ADD*/
.button-add{
    color: #fff;
    font-size: 50px;
    text-align: center;
    padding: 2px 20px;
    background-color: rgb(0, 89, 255);
    border-radius: 5px;
    position: fixed;
    right: 15px;
    bottom: 15px;
    transition: all 0.2s ease-in-out;
    z-index: 1;
}
.button-add:hover{
    background-color: rgb(0, 119, 255);
    padding: 3px 21px;
    cursor: pointer;
}